# Ignore build and distribution directories
__pycache__/
build/
dist/

# Ignore build files
*.spec
*.sh
*.bat

# Ignore documentation files
FILE_LIST.md
ICON_CREATION.md
PACKAGING.md

# Ignore all markdown files except README.md
*.md
!README.md